
<h2>Donation Request</h2>
<p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacinia quis vel eros donec.</p>
{%- form 'contact', id: 'ContactFormDonationRequest', class: 'form-contact-form' -%}
    {%- if form.posted_successfully? -%}
      <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
        {% render 'icon-success' %}
        {{ 'templates.contact.form.post_success' | t }}
      </h2>
    {%- elsif form.errors -%}
      <div class="form__message">
        <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
          {% render 'icon-error' %}
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
      </div>
      <ul class="form-status-list caption-large" role="list">
        <li>
          <a href="#ContactForm-email" class="link">
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}
          </a>
        </li>
      </ul>
    {%- endif -%}
    <div class="contact__fields">

      <div class="field">
        <input
          class="field__input"
          autocomplete="name"
          type="text"
          id="ContactForm-name"
          name="contact[{{ 'templates.contact.form.name' | t }}]"
          value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
          placeholder="{{ 'templates.contact.form.name' | t }}"
        >
        <label class="label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
      </div><!--End field-->

      <div class="field field--with-error">
        <input
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          class="field__input"
          name="contact[email_general]"
          spellcheck="false"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="Email Address"
        >
        <label class="label" for="ContactForm-email">
          Email Address
          <span class="required" aria-hidden="true">*</span></label
        >
        {%- if form.errors contains 'email' -%}
          <small class="contact__field-error" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">
              {%- render 'icon-error' -%}
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </span>
          </small>
        {%- endif -%}
      </div><!--End field -->

    </div><!-- End contact__fields-->


    <div class="field full">        
        <input type="text" name="contact[richards_vision]" class="field__input" id="richards-vision" placeholder="How do you envision Richard’s being a part of your event?"/>
        <label class="label" for="richards-vision">How do you envision Richard’s being a part of your event?</label>
    </div><!--End field-->

    <div class="field full">        
        <input type="text" name="contact[event_info]" class="field__input" id="event-info" placeholder="Event Page Link, Location & Time"/>
        <label class="label" for="event-info">Event Page Link, Location & Time</label>
    </div><!--End field-->

    <div class="contact__fields">

      <div class="field">        
          <input type="text" name="contact[headcount]" class="field__input" id="headcount" placeholder="Estimated Headcount"/>
          <label class="label" for="headcount">Estimated Headcount</label>
      </div><!--End field-->

      <div class="field">        
          <input type="text" name="contact[product_type]" class="field__input" id="product-type" placeholder="Type of Richard’s Products"/>
          <label class="label" for="product-type">Type of Richard’s Products</label>
      </div><!--End field-->

    </div><!--End contact__fields-->

    <div class="field full">        
        <input type="text" name="contact[partners]" class="field__input" id="partners" placeholder="Do you have any other partners for this event?"/>
        <label class="label" for="partners">Do you have any other partners for this event? <span class="sub">(Beverage, CPG, non-profit etc.)</span></label>
    </div><!--End field-->

    <div class="field full">        
        <input type="text" name="contact[marketing_opportunities]" class="field__input" id="marketing-opportunities" placeholder="Are there any co-promotion or marketing opportunities?"/>
        <label class="label" for="marketing-opportunities">Are there any co-promotion or marketing opportunities?</label>
    </div><!--End field-->

    <div class="field full">        
        <input type="text" name="contact[product_pickup]" class="field__input" id="product-pickup" placeholder="Will you be able to pick up the product in person?"/>
        <label class="label" for="product-pickup">Will you be able to pick up the product in person?</label>
    </div><!--End field-->

   
    <div class="contact__button">
      <button type="submit" class="button">
        {{ 'templates.contact.form.send' | t }}
      </button>
    </div>
  {%- endform -%}