{%- assign formId = 'Contact_' | append: section.id -%}
<div class="newsletter-form-wrap" {{ block.shopify_attributes }}>
    {% form 'customer', class: 'newsletter-form', id: formId %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="newsletter-form__field-wrapper">
        <div class="field">
          <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="field__input"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Newsletter-error--{{ section.id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Newsletter-success--{{ section.id }}"
            {% endif %}
            placeholder="{{ 'newsletter.label' | t }}"
            required
          >
          <label class="field__label" for="NewsletterForm--{{ section.id }}">
            {{ 'newsletter.label' | t }}
          </label>
          <button
            type="submit"
            class="newsletter-form__button field__button"
            name="commit"
            id="Subscribe"
            aria-label="{{ 'newsletter.button_label' | t }}"
          >
            Enter
          </button>
        </div>
        {%- if form.errors -%}
          <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
            {%- render 'icon-error' -%}
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </small>
        {%- endif -%}
      </div>
      {%- if form.posted_successfully? -%}
        <h3
          class="newsletter-form__message newsletter-form__message--success form__message"
          id="Newsletter-success--{{ section.id }}"
          tabindex="-1"
          autofocus
        >
          {% render 'icon-success' -%}
          {{- 'newsletter.success' | t }}
        </h3>
      {%- endif -%}
    {% endform %}
  </div>


<script>
  jQuery( document ).ready( function ( $ ) {
      //Run the ajax form script
      // bind to the form's submit event 
      $( '#{{ formId }}' ).submit( function ( event ) {
          event.preventDefault();

          if ( ( jQuery( '#{{ formId }}' ).find( 'input[name=email]' ).val().indexOf( '@' ) == -1 ) || ( jQuery( '#{{ formId }}' ).find( 'input[name=email]' ).val().indexOf( '.' ) == -1 ) ) {
              alert( "Please enter a valid email address." );
              return false;
          }

          var form_options = {
              //target:        '#form-response',   // target element(s) to be updated with server response 
              //beforeSubmit:  validate,  // pre-submit callback 
              //success:       showResponse,  // post-submit callback
              dataType: null // 'xml', 'script', or 'json' (expected server response type)  

              // $.ajax options can be used here too, for example: 
              //timeout:   3000 
          };

          // inside event callbacks 'this' is the DOM element so we first 
          // wrap it in a jQuery object and then invoke ajaxSubmit 

          //jQuery( '#{{ formId }}' ).fadeOut( 200 );
          //jQuery( '#form-response' ).delay( 200 ).fadeIn( 100 );

          //jQuery( '#{{ formId }}' ).ajaxSubmit( form_options );

          console.log ('Newsletter form successfully submitted')

          // !!! Important !!! 
          // always return false to prevent standard browser submit and page navigation 

          return false;
      } );
  } );
</script>