
<h2 class="form-title">Wholesaler Application</h2>
<p>Interested in selling Richard’s in your store or restaurant? Great! Fill out this simple form and somebody from our team will get follow up within 2 business days.</p>
{%- form 'contact', id: 'ContactFormWholesaleInquiries', class: 'form-contact-form' -%}
    {%- if form.posted_successfully? -%}
      <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
        {% render 'icon-success' %}
        {{ 'templates.contact.form.post_success' | t }}
      </h2>
    {%- elsif form.errors -%}
      <div class="form__message">
        <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
          {% render 'icon-error' %}
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
      </div>
      <ul class="form-status-list caption-large" role="list">
        <li>
          <a href="#ContactForm-email" class="link">
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}
          </a>
        </li>
      </ul>
    {%- endif -%}

    <div class="field full">        
        <input type="date" name="contact[date]" class="field__input" id="date" placeholder="Date"/>
        <label class="label" for="date">Date</label>
    </div><!--End field-->

    <div class="field full">
        <input class="field__input"
            type="text"
            id="WSForm-TaxID"
            name="contact[federal_tax_id]" 
            required="required"
            value=""
            placeholder="Federal Tax ID"
        >
            <label class="label" for="WSForm-TaxID">Federal Tax ID <span class="required">*</span></label>
      </div><!--End field-->

      <div class="field full">        
        <input type="text" name="contact[company_name]" class="field__input" required="required" id="company-name" placeholder="Company Name"/>
        <label class="label" for="company-name">Company Name<span class="required">*</span></label>
    </div><!--End field-->

    <div class="contact__fields">

      <div class="field">        
          <input type="text" name="contact[buyer_firstname]" class="field__input" required="required" id="buyer-firstname" placeholder="Buyer Contact: First Name"/>
          <label class="label" for="buyer-firstname">Buyer Contact: First Name <span class="required">*</span></label>
      </div><!--End field-->

      <div class="field">        
          <input type="text" name="contact[buyer_lastname]" class="field__input" required="required" id="buyer-lastname" placeholder="Buyer Contact: Last Name"/>
          <label class="label" for="buyer-lastname">Buyer Contact: Last Name <span class="required">*</span></label>
      </div><!--End field-->

    </div><!--End contact__fields-->

    <div class="contact__fields">

      <div class="field">
        <input
          type="tel"
          id="ContactForm-phone"
          class="field__input"
          autocomplete="tel"
          name="contact[{{ 'templates.contact.form.phone' | t }}]"
          pattern="[0-9\-]*"
          required="required" 
          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          placeholder="{{ 'templates.contact.form.phone' | t }}"
        >
        <label class="label" for="ContactForm-phone">Phone Number <span class="required">*</span></label>
      </div>

      <div class="field">        
          <input type="tel" pattern="[0-9\-]*" name="contact[fax_number]" class="field__input" required="required" id="fax-number" placeholder="Fax Number"/>
          <label class="label" for="fax-number">Fax Number </label>
      </div><!--End field-->

    </div><!--End contact__fields-->


         
  
        <div class="field full field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="Email Address"
          >
          <label class="label" for="ContactForm-email">
            Email Address
            <span aria-hidden="true">*</span></label
          >
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}
        </div><!--End field -->

        <div class="field full">        
        <input type="text" name="contact[website]" class="field__input" id="website" placeholder="Website"/>
        <label class="label" for="website">Website<span class="required">*</span></label>
    </div><!--End field-->

    <div class="terms">

      {{ terms }} 

    </div><!--End terms-->

    <div class="field full">        
        <input type="text" name="contact[digital_signature]" class="field__input" required="required" id="digital-signature" placeholder="Digital Signature"/>
        <label class="label" for="digital-signature">Digital Signature <span class="required">*</span></label>
    </div><!--End field-->


    <div class="field full">        
        <input type="date" name="contact[date_2]" class="field__input" id="date-2" placeholder="Date"/>
        <label class="label" for="date-2">Date</label>
    </div><!--End field-->
  
    <div class="field full">        
        <input type="text" name="contact[title]" class="field__input" required="required" id="title" placeholder="title"/>
        <label class="label" for="title">Title <span class="required">*</span></label>
    </div><!--End field-->
    
   
    <div class="contact__button">
      <button type="submit" class="button">
        {{ 'templates.contact.form.send' | t }}
      </button>
    </div>


  {%- endform -%}