<nav class="water-product-buttons" data-current-page="{{ product.url }}"">


    {%- assign product_1 = block.settings.product_1 -%}    
    
        <div class="water-product-img-button {{ product_1.id }}" href="{{ product_1.url }}"">
            <h3>{{ product_1.title }}</h3>
            {%- assign product_1_image = block.settings.product_1.featured_image -%}
            {%- if product_1_image != blank -%}
                {{ product_1_image | image_url: width: product_1_image.width | image_tag: class: 'water-btn-img', loading: 'lazy' }}
            {%- endif -%}
        </div>


    {%- assign product_2 = block.settings.product_1 -%}    
    
        <a class="water-product-img-button {{ product_2.id }}" href="{{ product_2.url }}"">
            <h3>{{ product_2.title }}</h3>
            {%- assign product_2_image = block.settings.product_2.featured_image -%}
            {%- if product_2_image != blank -%}
                {{ product_2_image | image_url: width: product_2_image.width | image_tag: class: 'water-btn-img', loading: 'lazy' }}
            {%- endif -%}
        </div>

</nav>