{{ 'section-aisle.css' | asset_url | stylesheet_tag }}
<div id="aisle"></div>
<div class="inner aisle-inner">

  <div class="aisle-intro">
  <h2 class="h1">{{ section.settings.aisle_heading }}</h2>
  <div class="aisle-intro-text">{{ section.settings.aisle_intro_text }}</div>
  </div><!-- End aisle-intro-->

  <!--Inject the div that this script will attach itself to-->
  <!--This must exist in the dom when the script loads-->
  <div id="aisle-form-submit"></div>
  <!--Optional: Inject the default stylesheet-->
  <link
      rel="stylesheet"
      href="https://storage.googleapis.com/gotoaisle-assets-store/aisle-form-submit-script/index.css"
  />
  <!--Configure the scripts properties-->
  <script>
      var aisleFormConfig = {
          brandReference: '{{ section.settings.api_key }}',
          campaignPhoneNumber: '{{ section.settings.campaign_phone_number }}'
      };
  </script>
  <!--Inject the main script-->
  <script
      type="module"
      src="https://storage.googleapis.com/gotoaisle-assets-store/aisle-form-submit-script/index.js"
      onload="window.aisleFormLoad(aisleFormConfig)"
  ></script>

  <div class="aisle-steps">
    {% assign count = 0 %}
    {%- for block in section.blocks -%}
      {% assign count = count | plus: 1 %}
      {%- case block.type -%}
        {%- when 'step' -%}
          <div class="aisle-step">
            <span class="step-number">{{ count }}</span>
          {{ block.settings.text }} 
          </div><!-- End aisle-step-->  
      {%- endcase -%}
    {%- endfor -%}
  </div><!--End aisle-steps-->
    
  <div class="aisle-terms">{{ section.settings.fine_print }}</div>

</div><!--End inner aisle-inner-->


{% schema %}
  {
  "name": "Aisle Integration",
  "class": "aisle",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "This section adds an instance of the Aisle integration to this page."
    },
    {
      "type": "text",
      "id": "api_key",
      "label": "API Key",
      "default": "U2FsdGVkX1+G1iQuk+1fbDluy/LxlfYSeQSnuczV+kyY0wwvY8dzJ3sNoJHUv9Fo",
      "info": "Add an API key for this Aisle instance"
    },
    {
      "type": "text",
      "id": "campaign_phone_number",
      "label": "Campaign Phone Number",
      "default": "2673884764",
      "info": "Enter the campaign phone number for this Aisle instance"
    },
    {
      "type": "text",
      "id": "aisle_heading",
      "label": "Heading",
      "info": "Add a heading to the Aisle section"
    },
    {
      "type": "richtext",
      "id": "aisle_intro_text",
      "label": "Intro Text",
      "info": "Add content that will appear before the Aisle widget."
    },
    {
      "type": "richtext",
      "id": "fine_print",
      "label": "Fine Print",
      "info": "Add fine print/terms to the bottom of this section"
    }
  ],
  "blocks": [
    {
      "name": "Step",
      "type": "step",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "info": "Add text for this step"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Aisle Integration"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}