{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer site-footer">

  <div class="footer-wrap wide">

    <div class="footer-top">
      <div class="footer-top-left">
        <h2 class="footer-messaging">
          <span class="medium-blue">Renewable.</span>
          <span class="light-blue">Refreshing.</span>
          <span class="white">Rainwater.</span>
        </h2>
        {%- render 'social-icons' -%}
      </div>
      <div class="footer-top-right">

        {%- for block in section.blocks -%}
          {%- case block.type -%}
        
            {%- when 'footer_menu' -%}
              {%- ########################################################################## 
              # Label: Footer Menu
              # Returns: a linklist or blank(if no selection has been made)
              # LinkList Properties: https://shopify.dev/api/liquid/objects#linklist
              ########################################################################## -%}
              {%- assign footer_menu = block.settings.footer_menu.links -%}
              {%- if footer_menu != blank -%}
                <ul class="footer-menu">
                  {%- for link in footer_menu -%}
                    <li>
                    {{ link.title | link_to: link.url }}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}             
        
          {%- endcase -%}
        {%- endfor -%}

        
      </div><!--End footer-top-right-->
    </div><!--End footer-top-->

    <div class="footer-bottom">
      <a class="footer-logo" href="/">
      {% render 'logo', name: 'white' %}
      </a>
      <div class="terms-policies">
        <p>
          &copy; {{ 'now' | date: '%Y' }}, {{ "Richard's" | link_to: routes.root_url -}}. All rights reserved.
        </p>   

        {%- for block in section.blocks -%}
          {%- case block.type -%}
        
            {%- when 'bottom_menu' -%}
              {%- assign bottom_menu = block.settings.bottom_menu.links -%}
              {%- if bottom_menu != blank -%}
                <ul class="policies list-unstyled">
                  {%- for link in bottom_menu -%}
                    <li>
                    {{ link.title | link_to: link.url }}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}             
        
          {%- endcase -%}
        {%- endfor -%}
        
      </div>
    </div><!--End footer-bottom-->

  </div><!--End footer-wrap wide-->

  
</footer>



{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "name": "Footer Menu",
      "type": "footer_menu",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_menu",
          "label": "Footer Menu",
          "info": "Choose a navigation menu to add to the footer"
        }
      ]
    },
    {
      "name": "Bottom Menu",
      "type": "bottom_menu",
      "settings": [
        {
          "type": "link_list",
          "id": "bottom_menu",
          "label": "Bottom Navigation Menu",
          "info": "Choose a navigation menu to add to the footer"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    }
  ]
}
{% endschema %}
