{{ 'section-home-bottles-and-copy.css' | asset_url | stylesheet_tag }}

<div class="home-bottles-intro inner">

    <div class="home-intro-left">

      {%- assign bottle_image_1 = section.settings.bottle_image_1 -%}
      {%- if bottle_image_1 != blank %}
      {{ bottle_image_1 | image_url: width: bottle_image_1.width | image_tag: class: 'float float-1 float-md', loading: 'lazy' }}
      {%- endif -%}


      {%- assign bottle_image_2 = section.settings.bottle_image_2 -%}
      {%- if bottle_image_2 != blank %}
      {{ bottle_image_2 | image_url: width: bottle_image_2.width | image_tag: class: 'float float-2 float-sm', loading: 'lazy' }}
      {%- endif -%}

    </div><!-- End home-intro-left-->

    <div class="home-intro-right">
      <span>{{ section.settings.subheading }}</span>
      <h2>
        {{ section.settings.heading }} 
      </h2>
      <a class="button light-to-dark" href="{{ section.settings.call_to_action_button_link }} " role="button">{{ section.settings.call_to_action_button_label }} </a>
    </div><!--End home_intro-right-->



</div><!--End home-bottles-info inner-->
{% schema %}
  {
  "name": "Home - Bottles + Copy",
  "class": "home-bottles-copy",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bottle_image_1",
      "label": "Bottle Image 1",
      "info": "Upload the first of two bottle images"
    },
    {
      "type": "image_picker",
      "id": "bottle_image_2",
      "label": "Bottle Image 2",
      "info": "Upload the second of two bottle images"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "info": "Add a subheading for this section"
    },
    {
      "type": "html",
      "id": "heading",
      "label": "Heading",
      "default": "<span>RENEWABLE.</span>\n<span>REFRESHING. </span>\n<span>RAINWATER.</span>",
      "info": "Add heading text for this section. Note: Use HTML here to create animated effects."
    },
    {
      "type": "text",
      "id": "call_to_action_button_label",
      "label": "Call to Action Button Label",
      "default": "Learn More",
      "info": "Enter a label for the Call to Action button"
    },
    {
      "type": "url",
      "id": "call_to_action_button_link",
      "label": "Call to Action Button Link",
      "info": "Enter the link the call to action button should go to"
    }
  ],
  "presets": [
    {
      "name": "Home - Bottles + Copy"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}