{{ 'section-home-main_banner.css' | asset_url | stylesheet_tag }}

{%- assign background_image = section.settings.background_image -%}
{%- if background_image != blank -%}
  <div class="bg-img bg-hero fade-in">
    {{ background_image | image_url: width: 1920 | image_tag: class: 'bg-parallax', loading: 'lazy' }}
  </div>
{%- endif -%}


{%- assign bottle_1_image = section.settings.bottle_1_image -%}
{%- if bottle_1_image != blank -%}
{{ bottle_1_image | image_url: width: bottle_1_image.width | image_tag: class: 'home-banner-bottle home-banner-bottle-left bottle-in-up', loading: 'lazy' }}
{%- endif -%}


{%- assign bottle_2_image = section.settings.bottle_2_image -%}
{%- if bottle_2_image != blank -%}
{{ bottle_2_image | image_url: width: bottle_2_image.width | image_tag: class: 'home-banner-bottle home-banner-bottle-right bottle-in-up', loading: 'lazy' }}
{%- endif -%}

<h2 class="home-banner-slogan-letters">
<div class="letters-row sip"><span>S</span><span>I</span><span>P</span></div>
<div class="letters-row the"><span>T</span><span>H</span><span>E</span></div>
<div class="letters-row sky"><span>S</span><span>K</span><span>Y<br /><small>™</small></span></div>
</h2>


<div class="home-banner-bar">
<p>{{ section.settings.callout_text }}</p>
</div><!--End home-banner-bar-->


{%- if section.settings.enable_audio_player -%}
  

  <div class="home-audio-player off">
    <button id="play-audio" class="play-audio">
      <img class="note off" src="{{ 'note-grey.svg' | asset_url }}" width="49" height="46" role="presentation" alt="note" />
      <img class="note on" src="{{ 'note-rainbow.svg' | asset_url }}" width="49" height="46" role="presentation" alt="note" />
    </button>
    <p>{{ section.settings.audio_player_label }}</p>
      <button id="close-player" class="close-player">
        <img class="close-x" src="{{ 'icon-close-grey.svg' | asset_url }}" width="100" height="100" role="presentation" alt="x" />
      </button>
      <audio id="rainAudio" loop>
        <source src="{{ 'audio-rain-loop-2.mp3' | asset_url }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
  </div>

  <div class="modal-nl-form" id="modal-nl-form">
    <h2 class="newsletter-signup-heading imperial">
      Thirsty<br />4 More?
    </h2>
    <div class="newsletter__subheading rte"><p>Join the rainmaker movement</p></div>
    {% render 'form-newsletter' %}

    <img class="cloud popup-bg" src="{{ 'cloud-popup-newsletter.svg' | asset_url }}" width="876" height="360" role="presentation" alt="cloud" />
  </div><!--End modal-nl-form-->

  <script type="text/javascript">
    gsap.set('#modal-nl-form', {bottom: '15vh', right: '-.5vw', translateY: '0%', translateX: '0%'});
    var cloud_tl = gsap.timeline({paused: true, forward: true })
        .to('#modal-form-overlay', 
        {
            opacity:1,
            duration: 0,
            ease: 'ease'
        })
        .to ('#modal-nl-form',
        {
          duration: 1.5,
          width: '643px',
          bottom: '50vh',
          right: '50vw',
          translateY: '50%',
          translateX: '50%',
          ease: "back.inOut(1.7)"
        });

    // Modal Form
    jQuery('#modal-nl-form').on( "click", function( event ) {
      console.log('Modal Form clicked');

      

      if(jQuery(this).hasClass('open')) {
        console.log('modal went from open to closed.');
        cloud_tl.reverse();
      } else {
        console.log('modal went from closed to open.');
        cloud_tl.play();
      }

      jQuery(this).toggleClass('open');
    });

    // Open the modal
   

    // CLoase the modal
   

    // Audio Player
    
    var myAudio = document.getElementById('rainAudio');

    //Audio Buttons
    jQuery( "#play-audio, .home-audio-player p" ).on( "click", function( event ) {
      //event.stopPropagation();
      //event.preventDefault();

      if (myAudio.duration > 0 && !myAudio.paused) {
          //Its playing...do your job
          myAudio.pause(); 
          jQuery('.home-audio-player').removeClass('on').addClass('off');
          //console.log('We are now paused');
        } else {
          //Not playing...maybe paused, stopped or never played.
          myAudio.play();
          jQuery('.home-audio-player').addClass('on').removeClass('off');
          //console.log('We are now playing');
      }
    });

    jQuery( "#close-player" ).on( "click", function( event ) {
      //event.preventDefault();
      jQuery('.home-audio-player').toggleClass('closed');
      console.log('clicked close');
    });

  </script>
{%- endif -%}




{% schema %}
  {
  "name": "Home - Main Banner",
  "class": "home-banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image",
      "info": "Upload a background image to use for the banner"
    },
    {
      "type": "image_picker",
      "id": "bottle_1_image",
      "label": "Bottle 1 Image",
      "info": "Upload one of two images for the banner"
    },
    {
      "type": "image_picker",
      "id": "bottle_2_image",
      "label": "Bottle 2 Image",
      "info": "Upload the second of two images for the banner"
    },
    {
      "type": "text",
      "id": "callout_text",
      "label": "Callout Text",
      "info": "Enter text that will appear in the callout bar at the bottom of the banner"
    },
    {
      "type": "checkbox",
      "id": "enable_audio_player",
      "label": "Enable Audio Player",
      "default": true,
      "info": "Enable an audio player on this page"
    },
    {
      "type": "text",
      "id": "audio_player_label",
      "label": "Audio Player Label",
      "default": "Enhance with Audio",
      "info": "Enter the label for the Audio Player button"
    }
  ],
  "presets": [
    {
      "name": "Home - Main Banner"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}