{{ 'section-home-simple_banner.css' | asset_url | stylesheet_tag }}


<div class="home-banner-heading">
  {% if section.settings.heading != blank %}<h1>{{ section.settings.heading }}</h1>{% endif %}
{% if section.settings.subheading != blank %}<p>{{ section.settings.subheading }}</p>{% endif %}
</div><!--End home-banner-heading-->

{%- assign background_image = section.settings.background_image -%}
{% if background_image != blank %}
<div class="bg-img bg-hero hide-on-mobile fade-in">
  {{ background_image | image_url: width: background_image.width | image_tag: class: 'bg-parallax', loading: 'lazy' }}
</div>
{% endif %}

{%- assign mobile_background_image = section.settings.mobile_background_image -%}
{% if mobile_background_image != blank %}
<div class="bg-img bg-hero hide-on-desktop fade-in">
  {{ mobile_background_image | image_url: width: mobile_background_image.width | image_tag: class: 'bg-parallax', loading: 'lazy' }}
</div>
{% endif %}

{% schema %}
  {
  "name": "Home - Simple Banner",
  "class": "home-banner-simple",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "info": "Enter a primary heading for this section"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "info": "Enter a secondary/smaller heading for this section"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image",
      "info": "Upload a background image for this section"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Background Image",
      "info": "Upload a background image for this section for MOBILE devices"
    }
  ],
  "presets": [
    {
      "name": "Home - Simple Banner"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}