{{ 'section-home-messaging-banner.css' | asset_url | stylesheet_tag }}

<div class="inner">


    <div class="banner-content">
      <h2>
        {{ section.settings.heading }} 
      </h2>
      <a class="button light fade-in" href="{{ section.settings.call_to_action_button_link }} " role="button">{{ section.settings.call_to_action_button_label }}</a>

    </div><!--End home_intro-right-->



</div><!--End home-bottles-info inner-->

{%- assign background_image = section.settings.background_image -%}
{% if background_image != blank %}
<div class="bg-img bg-hero hide-on-mobile fade-in">
  {{ background_image | image_url: width: background_image.width | image_tag: class: 'bg-parallax', loading: 'lazy' }}
</div>
{% endif %}

{%- assign mobile_background_image = section.settings.mobile_background_image -%}
{% if mobile_background_image != blank %}
<div class="bg-img bg-hero hide-on-desktop fade-in">
  {{ mobile_background_image | image_url: width: mobile_background_image.width | image_tag: class: 'bg-parallax', loading: 'lazy' }}
</div>
{% endif %}

{% ## ----- Clouds ------ -## %}  
<div class="clouds clouds-wide bottom scrubme">
    <div class="scroll-parent">
      <div class="scroll-element scrub" style="background-image:url({{ 'cloud-wide.svg' | asset_url }});">
      </div>
  </div>
  {% ## ----- End Clouds ------ -## %}

<script type="text/javascript">

    gsap.set('.banner-content h2 span', { opacity: 0, yPercent: -40 });

    ScrollTrigger.batch(".banner-content h2 span", {
        start: "top bottom",
        end: "bottom top",
        interval: 2,
        batchMax: 7,
        //delay: 2,
        duration: 1,
        onEnter: batch => gsap.to(batch, {opacity: 1, yPercent: 0, stagger: {each: 0.25}, overwrite: true})
        //onLeave: batch => gsap.set(batch, {opacity: 0, yPercent: -100, overwrite: true}),
        //onEnterBack: batch => gsap.to(batch, {opacity: 1, yPercent: 0, stagger: 0.30, overwrite: true}),
        //onLeaveBack: batch => gsap.set(batch, {opacity: 0, yPercent: -100, overwrite: true})
      });

</script>

{% schema %}
  {
  "name": "Home - Messaging Banner",
  "class": "home-messaging-banner",
  "tag": "section",
  "settings": [
    {
      "type": "html",
      "id": "heading",
      "label": "Heading",
      "info": "Add heading text for this section. Note: Use HTML here (e.g. span tags with color classes) to create animated effects."
    },
    {
      "type": "text",
      "id": "call_to_action_button_label",
      "label": "Call to Action Button Label",
      "default": "Learn More",
      "info": "Enter a label for the Call to Action button"
    },
    {
      "type": "url",
      "id": "call_to_action_button_link",
      "label": "Call to Action Button Link",
      "info": "Enter the link the call to action button should go to"
    },
    {
    "type": "image_picker",
    "id": "background_image",
    "label": "Background Image",
    "info": "Upload a background image for this section"
    },
    {
    "type": "image_picker",
    "id": "mobile_background_image",
    "label": "Mobile Background Image",
    "info": "Upload a background image for this section for MOBILE devices"
    }
  ],
  "presets": [
    {
      "name": "Home - Messaging Banner"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}