{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}



<div class="collection-hero">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- assign collections_menu = section.settings.collections_menu.links -%}
      <nav id="collection-nav">
        <ul>
          {%- for link in collections_menu -%}
                <li class="collection-li {% if link.active %}active{% endif %}">
                  <a
                    href="{{ link.url }}"
                    class="collection-link" 
                    {% if link.active %}aria-current="page"{% endif %}>
                      {{ link.title | escape }}
                  </a>
                </li>
          {%- endfor %}
        </ul>
      </nav>


      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>

   
  </div>

</div>

<section class="rainbow-banner">
  
  <div class="bg-img bg-hero">
    <img class="bg-parallax" src="{{ 'bg-rainbow.svg' | asset_url }}>" width="1923" height="2042" role="presentation" alt="rainbow" />
  </div>
  
  
  <div class="clouds clouds-wide bottom">
    <div class="scroll-parent">
      <div class="scroll-element slow primary">
        <img class="cloud" src="{{ 'cloud-wide.svg' | asset_url }}>" width="1877" height="188" role="presentation" alt="cloud" />
      </div>
      <div class="scroll-element slow secondary">
        <img class="cloud" src="{{ 'cloud-wide.svg' | asset_url }}>" width="1877" height="188" role="presentation" alt="cloud" />
      </div>
    </div>

</section><!-- End rainbow-banner-->

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "collection-banner section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "link_list",
      "id": "collections_menu",
      "label": "Collections Menu",
      "info": "Choose a menu to appear at the top of the collections template"
    }
  ]
}
{% endschema %}
