
{%- style -%}
{%- endstyle -%}

<div class="newsletter footer-newsletter wide">
    <div class="nl-cloud">
    <img class="cloud cloud-rainbow cloud-footer fade-in-left" src="{{ 'cloud-rainbow.svg' | asset_url }}" role="presentation" alt="colorful cloud" />
    
    <div class="stars" id="stars-nl-footer">
      <img class="star" src="{{ 'icon-drop-light-blue.svg' | asset_url }}>" width="50" height="69" role="presentation" alt="star" />
      <img class="star" src="{{ 'icon-drop-med-blue.svg' | asset_url }}>" width="50" height="69" role="presentation" alt="star" />
    </div>
    
    <script type="text/javascript">      
      twinkle('#stars-nl-footer', 10);    
    </script>

  </div><!--End nl-cloud-->

    <div class="newsletter__wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'heading' -%}
            <h2 class="newsletter-signup-heading imperial">
              {{ block.settings.heading }}
            </h2>
          {%- when 'paragraph' -%}
            <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {%- when 'email_form' -%}
            {% render 'form-newsletter' %}
            
        {%- endcase -%}
      {%- endfor -%}
    </div>
</div>


{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section newsletter-cloud",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
