
{%- style -%}
{%- endstyle -%}

<div class="newsletter footer-newsletter wide">
    <div class="nl-cloud">
    <img class="cloud cloud-rainbow cloud-footer fade-in-left" src="{{ 'cloud-rainbow.svg' | asset_url }}" role="presentation" alt="colorful cloud" />
    
    <div class="stars" id="stars-nl-footer">
      <img class="star" src="{{ 'icon-drop-light-blue.svg' | asset_url }}>" width="50" height="69" role="presentation" alt="star" />
      <img class="star" src="{{ 'icon-drop-med-blue.svg' | asset_url }}>" width="50" height="69" role="presentation" alt="star" />
    </div>
    
    <script type="text/javascript">      
      twinkle('#stars-nl-footer', 10);    
    </script>

  </div><!--End nl-cloud-->

    <div class="newsletter__wrapper">


      {%- assign successMessage = section.settings.success_message -%} 

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'heading' -%}
            <h2 class="newsletter-signup-heading imperial">
              {{ block.settings.heading }}
            </h2>
          {%- when 'paragraph' -%}
            <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {%- when 'email_form' -%}
            
            
        {%- endcase -%}
      {%- endfor -%}
    </div>
</div>


<div class="modal-nl-form" id="modal-nl-form">
  <a class="close-modal" id="nl-form-modal-close">Close</a>
  <a class="modal-nl-form-open" id="modal-nl-form-open">Open</a>
  <h2 class="newsletter-signup-heading imperial">
    Thirsty<br />4 More?
  </h2>
  <div class="newsletter__subheading rte"><p>Join the rainmaker movement</p></div>

    {%- assign formId = 'Contact_' | append: section.id -%}
    <div class="newsletter-form-wrap" {{ block.shopify_attributes }}>
        {% form 'customer', class: 'newsletter-form', id: formId %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field-wrapper">
            <div class="field">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="field__input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="Newsletter-error--{{ section.id }}"
                {% elsif form.posted_successfully? %}
                  aria-describedby="Newsletter-success--{{ section.id }}"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
                required
              >
              <label class="field__label" for="NewsletterForm--{{ section.id }}">
                {{ 'newsletter.label' | t }}
              </label>
              <button
                type="submit"
                class="newsletter-form__button field__button"
                name="commit"
                id="Subscribe"
                aria-label="{{ 'newsletter.button_label' | t }}"
              >
                Enter
              </button>
            </div>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}

            <script>
              // Run scripts if form is successfully submitted
              jQuery('#{{ formId }} .newsletter-form__field-wrapper').hide();
            </script>

            <h3
              class="newsletter-form__message newsletter-form__message--success newsletter-signup-footer-success form__message"
              id="Newsletter-success--{{ section.id }}"
              tabindex="-1"
              autofocus
            >
              {% render 'icon-success' -%}
              {{ successMessage }}
            </h3>
          {%- endif -%}
        {% endform %}
      </div>
  

  <img class="cloud popup-bg" src="{{ 'cloud-popup-newsletter.svg' | asset_url }}" width="876" height="360" role="presentation" alt="cloud" />

</div><!--End modal-nl-form-->
<script type="text/javascript">


  // Remember to set everything so that it animates cleanly
   gsap.set('#modal-nl-form', {bottom: '15vh', right: '-1vw', yPercent: 0, xPercent: 100, padding:"2% 1% 0% 0%" });
   gsap.set('#modal-nl-form h2', { fontSize: '32px' });


   //run a timeline to slide the modal in
        var introCloud_tl = gsap.timeline({repeat: 0, delay: 3});
        introCloud_tl.to('#modal-nl-form', { 
            duration: 1, 
            xPercent: 0,
            ease: 'back.inOut(1.7)'
          }
        );
      
  
  
      // First, move the form above the overlay
  
      // Then, set the form and background wrap using gsap (to make sure animation plays correctly)
      gsap.set('.newsletter-form-wrap', { height: '0px'})
  
      // Then create a timeline for showing/hiding the modal
      var cloud_tl = gsap.timeline({paused: true, forward: true })
          .to ('#modal-nl-form',
          {
            duration: 1.5,
            width: '643px',
            bottom: '50vh',
            right: '50vw',
            yPercent: 50,
            xPercent: 50,
            padding: '3% 4% 0% 0%',
            ease: "back.inOut(1.7)"
          })
          .to('#modal-nl-form h2',
          {
            fontSize: '38px',
            duration:.25,
            ease: 'ease.inOut'
          })
          .to('.modal-nl-form .newsletter-form-wrap, .newsletter__subheading',
          {
            height: 'auto',
            duration: .5,
            ease: 'ease.inOut'
          });
  
      // Declare open modal function
      function openModalForm() {

        const body = document.querySelector("body");
        const modal = document.querySelector("#modal-nl-form");
  
        if(jQuery(modal).hasClass('open')) {
          console.log('modal went from open to closed.');
          cloud_tl.reverse();
          jQuery('section.home-banner').append($( "#modal-nl-form" ));
  
          //Allow the body element to scroll again
          body.style.overflow = "auto";
  
        } else {
          console.log('modal went from closed to open.');
          cloud_tl.play();
          jQuery('#modal-nl-form').insertBefore('#modal-form-overlay');
  
          //Prevent the body element from scrolling
          body.style.overflow = "hidden";
  
        }
  
        jQuery(modal).toggleClass('open');
        jQuery('#modal-form-overlay').toggleClass('open');
      }

      // Close Modal function

      function closeModalForm(event) {

        const body = document.querySelector("body");
        const modal = document.querySelector("#modal-nl-form");

        if( jQuery(modal).hasClass('open')) {
          
        
          if (!$(event.target).parents().addBack().is('#modal-nl-form')) {            

            jQuery(modal).toggleClass('open');
            jQuery('#modal-form-overlay').toggleClass('open');

            console.log('modal went from open to closed.');
            cloud_tl.reverse();
            jQuery('section.home-banner').append($( "#modal-nl-form" ));
    
            //Allow the body element to scroll again
            body.style.overflow = "auto";
          }

        }
      }
      // Modal Form
      jQuery('#modal-nl-form-open').on( "click", function(e) {
       
        openModalForm();
      });

      // Close the popup using the background

      //hide it when clicking anywhere else except the popup and the trigger
      $(document).on('click touch', function(event) {

       closeModalForm(event);
      });




  </script>


{% schema %}
{
  "name": "Newsletter Signup (Popup)",
  "tag": "section",
  "class": "section newsletter-cloud",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "text",
      "id": "success_message",
      "label": "Success Message",
      "info": "Enter a message if the email is successfully submitted"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
