{{ 'section-rainbow-text-banner.css' | asset_url | stylesheet_tag }}

<div class="inner">
<h2 class="fade-in-left">{{ section.settings.text }}</h2> 
</div><!--End inner-->

<div class="bg-img bg-hero">
  <img class="bg-parallax" src="{{ 'bg-rainbow.svg' | asset_url }}>" width="1923" height="2042" role="presentation" alt="rainbow" />
</div>


  <div class="clouds clouds-wide bottom">
    <div class="scroll-parent">
      <div class="scroll-element scrub primary" style="background:url({{ 'cloud-wide.svg' | asset_url }}) center center repeat-x;background-size:auto 100%;width:200%;">
        <!--<img class="cloud" src="{{ 'cloud-wide.svg' | asset_url }}>" width="1877" height="188" role="presentation" alt="cloud" />-->
      </div>
      <!--<div class="scroll-element scrub secondary">
        <img class="cloud" src="{{ 'cloud-wide.svg' | asset_url }}>" width="1877" height="188" role="presentation" alt="cloud" />
      </div>-->
    </div>


{% schema %}
  {
  "name": "Page - Top Banner",
  "class": "page-top-banner rainbow-banner fade-in",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Add a text banner, with white text on a rainbow background with clouds"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "info": "Add text to this banner"
    }
  ],
  "presets": [
    {
      "name": "Page - Top Banner"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}