{{ 'section-product-info-columns.css' | asset_url | stylesheet_tag }}


{%- for block in section.blocks -%}
  {%- if block.settings.product_name == product.handle -%}

    {% assign class = block.settings.class %}

    {%- if class == 'sparkling' -%}
      {% assign drop_color = 'light' %}
      {% assign col_type = 'product-info-col-2' %}
    {%- else -%}
      {% assign drop_color = 'medium' %}
      {% assign col_type = 'product-info-col-1' %}
    {%- endif -%}

    <header class="product-info-col-header single {{ class }}">
       
      <h2 class="product-info-col-heading">{{ section.settings.heading }}</h2>
      <p class="product-info-col-subheading">{{ section.settings.subheading }}</p>
      </header>

      <div class="product-info-col product-info-col-1 single {{ class }} {{ col_type }}">

        <div class="produt-col-img single fade-in">
        {%- if product.metafields.product_extra.water_cropped_image.value != blank %}
          {% assign product_image = product.metafields.product_extra.water_cropped_image %}
          {{ product_image | image_url: width: product_image.width | image_tag: class: 'water-btn-img', loading: 'lazy' }}
      {%- else -%}
          {%- assign product_image = product.featured_image -%}
          {%- if product_image != blank -%}          
              {{ product_image | image_url: width: product_image.width | image_tag: class: 'product-info-col-img', loading: 'lazy' }}      
          {%- endif -%}
      {%- endif -%}
      </div>

        

        <h2 class="product-col-name fade-in-down">
          <span class="vadelma">{{ block.settings.product_name_line_1 }}</span>
          <span class="rainwater imperial">{{ block.settings.product_name_line_2 }}</span> 
        </h2>
      
        <a class="button" href="{{ block.settings.call_to_action_button_link }}">{{ block.settings.call_to_action_button_label }} </a>

        
   
        {%- if block.settings.drop_message_1_of_3 != blank -%}
          <div class="info-drop info-drop-1 fade-in">
            <a class="drop-clickme">{% render 'drop-plus', class: drop_color %}</a>
            <p class="info-drop-message">{{ block.settings.drop_message_1_of_3 }} </p>
          </div>
        {%- endif -%}

        {%- if block.settings.drop_message_2_of_3 != blank -%}
          <div class="info-drop info-drop-2 fade-in">
            <a class="drop-clickme">{% render 'drop-plus', class: drop_color %}</a>
            <p class="info-drop-message">{{ block.settings.drop_message_2_of_3 }} </p>
          </div>
        {%- endif -%}
        
        {%- if block.settings.drop_message_3_of_3 != blank -%}
          <div class="info-drop info-drop-3 fade-in-right">
            <a class="drop-clickme">{% render 'drop-plus', class: drop_color %}</a>
            <p class="info-drop-message">{{ block.settings.drop_message_3_of_3 }} </p>
          </div>
        {%- endif -%}

      </div><!--End product-info-col-1-->

      {% ## ----- Clouds ------ -## %}  
<div class="clouds clouds-wide top scrubme">
    <div class="scroll-parent">
      <div class="scroll-element scrub" style="background-image:url({{ 'cloud-wide-top.svg' | asset_url }});">
      </div>
  </div>
  {% ## ----- End Clouds ------ -## %}

 

    
{%- endif -%}
{%- endfor -%}

<script>
  window.addEventListener("load", (event) => {

    jQuery('.drop-clickme').click(function () { // Enable the toggle view list for ul.toggle-view for toggle-able lists
      var parent_drop = jQuery(this).closest('.info-drop');
     
     // Close other open drops
     //jQuery('.info-drop').removeClass('open');

     if (parent_drop.hasClass('open')) {
      parent_drop.removeClass('open');
     } else {
      parent_drop.addClass('open');
     }
 
   });
  });
</script>

{% schema %}
  {
  "name": "Water Product Info",
  "class": "section-product-info-box-drops product-info-box-single w-clouds",
  "max_blocks": 2,
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "info": "Add a heading for this section"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "info": "Add a subheading for this section"
    }
  ],
  "blocks": [
    {
      "name": "Product Column",
      "type": "left_product_column",
      "settings": [
        {
          "type": "product",
          "id": "product_name",
          "label": "Product",
          "info": "Choose a product to add these related products to."
        },
        {
          "type": "text",
          "id": "class",
          "label": "Class/Type",
          "info": "Add a name of sparkling or still for this section in order to control some styling"
        },
        {
          "type": "text",
          "id": "product_name_line_1",
          "label": "Product Name (Line 1)",
          "info": "Enter the first line of the product name, which will be in Vadelma font"
        },
        {
          "type": "text",
          "id": "product_name_line_2",
          "label": "Product Name (Line 2)",
          "info": "Enter the first line of the product name, which will be in Imperial URW font"
        },
        {
          "type": "url",
          "id": "call_to_action_button_link",
          "label": "Call to Action Button Link",
          "info": "Choose a link for the Call to Action Button"
        },
        {
          "type": "text",
          "id": "call_to_action_button_label",
          "label": "Call to Action Button Label",
          "info": "Add a label for the Call to Action Button"
        },
        {
          "type": "text",
          "id": "drop_message_1_of_3",
          "label": "Drop Message (1 of 3)",
          "info": "Add a rollover message to add to a drop icon in the section"
        },
        {
          "type": "text",
          "id": "drop_message_2_of_3",
          "label": "Drop Message (2 of 3)",
          "info": "Add a rollover message to add to a drop icon in the section"
        },
        {
          "type": "text",
          "id": "drop_message_3_of_3",
          "label": "Drop Message (3 of 3)",
          "info": "Add a rollover message to add to a drop icon in the section"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Water Product Info"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}