{{ 'section-rainbow-text-banner.css' | asset_url | stylesheet_tag }}

<div class="inner">
<h2>{{ section.settings.text }}</h2> 
</div><!--End inner-->

<div class="bg-img bg-hero">
  <img class="bg-parallax" src="{{ 'bg-rainbow.svg' | asset_url }}>" width="1923" height="2042" role="presentation" alt="rainbow" />
</div>

<div class="newsletter mobile-menu-newsletter">

  <div class="clouds clouds-wide bottom">
    <div class="scroll-parent">
      <div class="scroll-element slow primary">
        <img class="cloud cloud-mobile-scroll" src="{{ 'cloud-wide.svg' | asset_url }}>" width="1876" height="188" role="presentation" alt="cloud" />
      </div>
      <div class="scroll-element slow secondary">
        <img class="cloud cloud-mobile-scroll" src="{{ 'cloud-wide.svg' | asset_url }}>" width="1876" height="188" role="presentation" alt="cloud" />
      </div>
    </div>

  </div><!--End clouds-mobile-wrap-->

{% schema %}
  {
  "name": "Rainbow Text Banner",
  "class": "rainbow-banner fade-in",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Add a text banner, with white text on a rainbow background with clouds"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "info": "Add text to this banner"
    }
  ],
  "presets": [
    {
      "name": "Rainbow Text Banner"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}