{{ 'sections-richards-versus.css' | asset_url | stylesheet_tag }}
<div class="inner">

  <div class="versus-wrap">

    <h2 class="fade-in">{{ section.settings.heading }} </h2>

    <div class="versus-selects">

      <form>
      <select class="vs-select fade-in-left" name="vs-select" id="vs-rr">
        <option value="">Richard's® Drink</option>
        {% assign count = 0 %}
        {%- for block in section.blocks -%}
          {% assign count = count | plus: 1 %}
          {%- case block.type -%}
          {%- when 'richards_product' -%}
            <option value="{{ block.settings.title }}" data-href-open="vs-box-rr-{{ count }}" data-href-close="vs-rr">{{ block.settings.title }}</option>
          {%- endcase -%}
        {%- endfor -%}
      </select>

      <span class="vs-drop fade-in">vs</span>

      <select class="vs-select fade-in-right" name="vs-select" id="vs-rr">
        <option value="">Competitors</option>
        {% assign count = 0 %}
        {%- for block in section.blocks -%}
          {% assign count = count | plus: 1 %}
          {%- case block.type -%}
          {%- when 'competitors_product' -%}
            <option value="{{ block.settings.title }}" data-href-open="vs-box-c-{{ count }}" data-href-close="vs-c">{{ block.settings.title }}</option>
          {%- endcase -%}
        {%- endfor -%}
      </select>
    </form>

      
    </div><!---End versus-selects ---->

    <div class="versus-choices-blocks">

      <div class="versus-choice-column">
        {% assign count = 0 %}
        {%- for block in section.blocks -%}
          {% assign count = count | plus: 1 %}
          {%- case block.type -%}
          {%- when 'richards_product' -%}
            <div class="vs-info-box vs-rr" id="vs-box-rr-{{ count }}">
              {%- assign product_image = block.settings.product_image -%}
              {%- if product_image != blank %}
                {{ product_image | image_url: width: product_image.width | image_tag: class: 'vs-img', loading: 'lazy' }}
              {%- endif -%}
              <div class="vs-info-box-content">
                <h3>{{ block.settings.title }}</h3>
                {{ block.settings.product_information }} 
              </div><!--End  vs-info-box-content-->
            </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>

      <div class="versus-choice-column">
        {% assign count = 0 %}
        {%- for block in section.blocks -%}
          {% assign count = count | plus: 1 %}
          {%- case block.type -%}
          {%- when 'competitors_product' -%}
            <div class="vs-info-box vs-c" id="vs-box-c-{{ count }}">
              {%- assign product_image = block.settings.product_image -%}
              {%- if product_image != blank %}
                {{ product_image | image_url: width: product_image.width | image_tag: class: 'vs-img', loading: 'lazy' }}
              {%- endif -%}
              <div class="vs-info-box-content">
                <h3>{{ block.settings.title }}</h3>
                {{ block.settings.product_information }} 
              </div><!--End  vs-info-box-content-->
            </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>

    </div><!--End versus-choices-info--->

  </div><!--End versus-wrap-->
</div><!--End inner-->

<script>

  window.addEventListener("load", (event) => {

    jQuery('select.vs-select').on('change', function() {
      //console.log('select has been changed');
      var show = '#' + jQuery(this).find(':selected').attr('data-href-open');
      //console.log('Show this one please:' + show);
      var hide = '.' + jQuery(this).find(':selected').attr('data-href-close');
      jQuery(hide).removeClass('active');
      jQuery(show).addClass('active');
    });
  });

</script>


{% schema %}
  {
  "name": "Richard's vs Competition",
  "class": "comparison section-versus",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "How Richard’s Compares",
      "info": "Add a heading for this section "
    }
  ],
  "blocks": [
    {
      "name": "Richard's Product",
      "type": "richards_product",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Enter a title for this product"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image",
          "info": "Upload or choose an image for this product"
        },
        {
          "type": "richtext",
          "id": "product_information",
          "label": "Product Information",
          "info": "Add information/description of the product here"
        }
      ]
    },
    {
      "name": "Competitor's Product",
      "type": "competitors_product",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Enter a title for this product"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image",
          "info": "Upload or choose an image for this product"
        },
        {
          "type": "richtext",
          "id": "product_information",
          "label": "Product Information",
          "info": "Add information/description of the product here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Richard's vs Competition"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}