<div class="inner">

  <div class="versus-wrap">

    <h2>{{ section.settings.heading }} </h2>

    <div class="versus-buttons">

      <select class="vs-select">
        <option value="Testing">
          <option value="Testing2">
            <option value="Testing3">
      </select>
    </div>

  </div><!--End versus-wrap-->
</div><!--End inner-->

{%- ########################################################################## 
# Label: Heading
# Returns: a string or an empty object(if nothing has been entered)
# Filters: https://shopify.dev/api/liquid/objects#string 
########################################################################## -%}


{%- for block in section.blocks -%}
  {%- case block.type -%}

    {%- when 'richards_product' -%}
      {%- ########################################################################## 
      # Label: Title
      # Returns: a string or an empty object(if nothing has been entered)
      # Filters: https://shopify.dev/api/liquid/objects#string 
      ########################################################################## -%}
      {{ block.settings.title }} 

      {%- ########################################################################## 
      # Label: Product Image
      # Returns: an image object or nil(if no selection has been made)
      # Image Properties: https://shopify.dev/api/liquid/objects#image
      # Image Filters: https://shopify.dev/api/liquid/filters#image_tag, https://shopify.dev/api/liquid/filters#image_url
      ########################################################################## -%}
      {%- assign product_image = block.settings.product_image -%}
      {%- if product_image != blank %}
        {{ product_image | image_url: width: product_image.width | image_tag: class: 'add_your_class_here', loading: 'lazy' }}
      {%- endif -%}

      {%- ########################################################################## 
      # Label: Product Information
      # Returns: a string or an empty object(if nothing has been entered)
      # Filters: https://shopify.dev/api/liquid/objects#string 
      ########################################################################## -%}
      {{ block.settings.product_information }} 

    {%- when 'competitors_product' -%}
      {%- ########################################################################## 
      # Label: Title
      # Returns: a string or an empty object(if nothing has been entered)
      # Filters: https://shopify.dev/api/liquid/objects#string 
      ########################################################################## -%}
      {{ block.settings.title }} 

      {%- ########################################################################## 
      # Label: Product Image
      # Returns: an image object or nil(if no selection has been made)
      # Image Properties: https://shopify.dev/api/liquid/objects#image
      # Image Filters: https://shopify.dev/api/liquid/filters#image_tag, https://shopify.dev/api/liquid/filters#image_url
      ########################################################################## -%}
      {%- assign product_image = block.settings.product_image -%}
      {%- if product_image != blank %}
        {{ product_image | image_url: width: product_image.width | image_tag: class: 'add_your_class_here', loading: 'lazy' }}
      {%- endif -%}

      {%- ########################################################################## 
      # Label: Product Information
      # Returns: a string or an empty object(if nothing has been entered)
      # Filters: https://shopify.dev/api/liquid/objects#string 
      ########################################################################## -%}
      {{ block.settings.product_information }} 

  {%- endcase -%}
{%- endfor -%}

{% schema %}
  {
  "name": "Richard's vs Competition",
  "class": "comparison rr-comparison",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "How Richard’s Compares",
      "info": "Add a heading for this section "
    }
  ],
  "blocks": [
    {
      "name": "Richard's Product",
      "type": "richards_product",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Enter a title for this product"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image",
          "info": "Upload or choose an image for this product"
        },
        {
          "type": "richtext",
          "id": "product_information",
          "label": "Product Information",
          "info": "Add information/description of the product here"
        }
      ]
    },
    {
      "name": "Competitor's Product",
      "type": "competitors_product",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Enter a title for this product"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image",
          "info": "Upload or choose an image for this product"
        },
        {
          "type": "richtext",
          "id": "product_information",
          "label": "Product Information",
          "info": "Add information/description of the product here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Richard's vs Competition"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}