{{ 'section-logo-slider.css' | asset_url | stylesheet_tag }}

<div class="inner">

  <header class="logo-slider-header fade-in-up">

    <h2>{{ section.settings.heading }}</h2>

    {%- if section.settings.subheading != blank -%}
    <p>{{ section.settings.subheading }}</p>
    {%- endif -%}

  </header>

  {%- if section.settings.call_to_action_button_link != blank %}
  <a class="button dark lg fade-in" href="{{ section.settings.call_to_action_button_link }}">{{ section.settings.call_to_action_button_label }} </a>
  {%- endif -%}

  {%- if heading == blank -%}
    <script>
      window.addEventListener("load", (event) => {
        jQuery('#shopify-section-{{ section.id }}').addClass('notitle');
      });
    </script>
  {%- endif -%}

  {% render 'global-metafields-retail-logos' %}

</div>

{% schema %}
  {
  "name": "Stores Slider",
  "class": "section-logo-slider",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Add the Retail Logos slider to this page. Note: All retail logos are added and edited via Shopify meta fields so they can be accessed globally."
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Find Richard’s near you.",
      "info": "Enter text for the heading here"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Find Richard’s near you.",
      "info": "Add text for an optional subheading here"
    },
    {
      "type": "url",
      "id": "call_to_action_button_link",
      "label": "Call to Action Button Link",
      "info": "Choose a link for the Call to Action Button"
    },
    {
      "type": "text",
      "id": "call_to_action_button_label",
      "label": "Call to Action Button Label",
      "info": "Add a label for the Call to Action Button"
    }
  ],
  "presets": [
    {
      "name": "Stores Logo Slider"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}