{{ 'section-rainwater-model.css' | asset_url | stylesheet_tag }}

<section class="rainwater-model-banner">
  <div class="inner center">
    <h2 class="fade-in">{{ section.settings.heading }}</h2> 
    
      <div class="">{{ section.settings.introduction }}</div> 
  </div><!--End inner-->

    <!--<div class="bg-img bg-hero">
      <img class="bg-parallax" src="{{ 'bg-rainbow.svg' | asset_url }}>" width="1923" height="2042" role="presentation" alt="rainbow" />
    </div>-->

    {% ## ----- Clouds ------ -## %}  
    <div class="clouds clouds-wide bottom scrubme">
        <div class="scroll-parent">
          <div class="scroll-element scrub" style="background-image:url({{ 'cloud-wide.svg' | asset_url }});">
          </div>
      </div>
      {% ## ----- End Clouds ------ -## %}

    
</section><!--End rainbowbanner-->
      

<ul class="model-blocks">
  {% assign count = 0 %}
  {%- for block in section.blocks -%}
      {% assign count = count | plus: 1 %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if thecycle == 'odd' %}
        {% assign img_animate = ' fade-in-left' %}
        {% assign content_animate = 'fade-in-right' %}
      {% else %}
        {% assign img_animate = ' fade-in-right' %}
        {% assign content_animate = ' fade-in-left' %}
      {% endif %}
  {%- case block.type -%}

    {%- when 'model_blocks' -%}
      <li class="model-block model-block-{{ count }}">
      {%- assign image = block.settings.image -%}
      
      {%- if image != blank -%}
        {%- assign img_class = 'block-hero block-hero-' | append: count -%}
        {% assign img_class = img_class | append: img_animate %}
      {{ image | image_url: width: image.width | image_tag: class: img_class, loading: 'lazy' }}
      {%- endif -%}

      <div class="model-block-content {{ content_animate }}">
        <h3><span>{{ count }}</span>{{ block.settings.heading }}</h3>
        {{ block.settings.description }} 
      </div><!--End model-block-content-->

      
      </li><!--End model-block-->
  {%- endcase -%}
{%- endfor -%}
</ul><!--End model blocks-->

<div class="stars" id="stars-rwm">
  <img class="star" src="{{ 'icon-drop-light-blue.svg' | asset_url }}>" width="50" height="69" role="presentation" alt="star" />
  <img class="star" src="{{ 'icon-drop-med-blue.svg' | asset_url }}>" width="50" height="69" role="presentation" alt="star" />
</div>


<script type="text/javascript">
  
  twinkle('#stars-rwm', 45);

</script>


{% schema %}
  {
  "name": "The Rainwater Model",
  "class": "rainwater-model",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "The Rainwater Model",
      "info": "Enter a heading for the section"
    },
    {
      "type": "html",
      "id": "introduction",
      "label": "Introduction",
      "info": "Add a block of introductory text to the section"
    }
  ],
  "blocks": [
    {
      "name": "Model Block",
      "type": "model_blocks",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Upload an image (PNG, GIF) for this block. This will appear on the left or right side of the block, depending on the order of the block"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "info": "Add a heading for the block (e.g. Rains, Collect)"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "info": "Add content for this model block"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "The Rainwater Model"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}