{{ 'section-timeline-slider.css' | asset_url | stylesheet_tag }}

<div class="inner timeline-h2-wrap"><h2 class="timeline-heading">{{ section.settings.heading }}</h2></div>


  

<div class="timeline-scroller">
  
        
  <div id="timeline-slider" class="wrapper timeline-wrap d-flex horiz-scroll flex-nowrap">
    {% assign count = 0 %}
  {%- for block in section.blocks -%}
      {% assign count = count | plus: 1 %}
      {%- case block.type -%}
    
        {%- when 'timeline_slide' -%}
      <div id="tl-section-{{ count }}" class="section timeline-block timeline-slide" data-year="{{ block.settings.year }}">
        <div class="timeline-block-content">
        <h3>{{ block.settings.title }} </h3>
        {{ block.settings.content }} 
        </div><!-- End timeline-block-content-->

        <div class="bg-img bg-hero">
          {%- assign hero_image = block.settings.hero_image -%}
          {%- if hero_image != blank -%}
          {{ hero_image | image_url: width: hero_image.width | image_tag: class: 'bg', loading: 'lazy' }}
          {%- endif -%}
        </div>
      </div>
    {%- endcase -%}
  {%- endfor -%}
  </div>

  <nav class="hor">
    {% assign count = 0 %}
    {%- for block in section.blocks -%}
      {% assign count = count | plus: 1 %}
      {%- case block.type -%}
        {%- when 'timeline_slide' -%}
          <a class="hash" data-year="{{ block.settings.year }}" data-slide="{{ count }}">
            <span>{% render 'drop', class: 'timeline-drop' %}</span>
            {{ block.settings.year }}
          </a>
      {%- endcase -%}
    {%- endfor -%}
  </nav>
  
</div><!--End timeline-scroller-->


<script>

  window.addEventListener("load", (event) => {

    jQuery('#timeline-slider').slick({
      autoplay: false,
      autoplaySpeed: 7000,        
      pauseOnFocus: false,
      pauseOnHover: false,
      centerMode: true,
      centerPadding: '0px',
      slidesToShow: 1,
      variableWidth: true,
      arrows: true,
      dots: false,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: true,
            centerMode: true,
            centerPadding: '0px',
            slidesToShow: 1,
            variableWidth: true 
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: true,
            centerMode: true,
            centerPadding: '0px',
            slidesToShow: 1
          }
        }
      ]
    });

    jQuery('a[data-slide]').click(function(e) {
      e.preventDefault();
      var slideno = jQuery(this).data('slide');
      jQuery('#timeline-slider').slick('slickGoTo', slideno - 1);
    });

    jQuery('#timeline-slider').on('init', function(event, slick) {
      setTimeout(function() {
        console.log("initialized now please");
      }, 0);
    });
    jQuery('#timeline-slider').on('init', function(event, slick){
        console.log("initialized");
    });
    
    jQuery('#timeline-slider').on('afterChange', function(event, slick, currentSlide, nextSlide){

      var $slides = $('#timeline-slider').slick("getSlick").$slides;
      var year = $slides.eq( currentSlide ).data("year");
      console.log('We have entered year:' + year);
      jQuery('a[data-slide]').removeClass('active');
      jQuery('a[data-year=' + year +']').addClass('active');
  
  });

  });
  

</script>

</div><!--End slider timeline-slider-->

{% schema %}
  {
  "name": "Timeline Slider",
  "class": "section-timeline slider-timeline-wrap",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "info": "Add a heading for this timeline slider"
    }
  ],
  "blocks": [
    {
      "name": "Timeline Slide",
      "type": "timeline_slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Hero Image",
          "info": "Upload or choose a hero image for this slide"
        },
        {
          "type": "text",
          "id": "year",
          "label": "Year",
          "info": "Enter a year for this slide.  This will be used to create the slide navigation"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Enter a title for the slide"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "info": "Add a short piece of text content for the slide"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Timeline Slider"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}